<div class="container col-10 bg-white border py-4 rounded mb-4 mt-4 table-responsive">

    <h3 class="text-center">Katılınan Etkinlikler</h3>
    <hr>

    <table class="table table-hover text-center">
        <thead>
          <tr>
            <th scope="col">İsim - Soyisim</th>
            <th scope="col">Etkinlik Adı</th>
            <th scope="col">Etkinlik Tarihi</th>
            <th scope="col">Etkinlik Türü</th>
            <th scope="col">Paylaş</th>
            <th scope="col">Görüntüle</th>
          </tr>
        </thead>
        <tbody>
            {% for certificate in certificates %}
                <tr>
                    <td>{{ certificate.participant_name }}</td>
                    <td>{{ certificate.event.event_name }}</td>
                    <td>{{ certificate.event.event_date }}</td>
                    <td>{{ certificate.event.event_type.title }}</td>
                    <td>
                      <a target="_blank" href="https://linkedin.com/share?text={{certificate.event.event_date}} tarihlerinde Teens In Innovation tarafından düzenlenen {{certificate.event.event_name}} etkinliğine katılım sağladığımı duyurmaktan mutluluk duyuyorum. Teşekkürler.">
                        <span class="material-symbols-outlined">
                          share
                          </span>
                      </a>
                    </td>
                    <td>
                      <a target="_blank" href="/certificate?participant={{certificate.participant_name}}&event={{certificate.event.event_name}}&code={{certificate.id}}">
                        <span class="material-symbols-outlined">
                          description
                          </span>
                      </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
</div>
